<header>
    <nav class="navbar navbar-dark" id="head__nav">
            <div class="container">
                    <a class="navbar-brand" href="/">
                        <img src="/images/Symbol 1 – 1.png" width="100" height="80" alt=""> <span style="color:#118DB4; font-size: 30px">Clinic</span>
                    </a>
                    <ul class="list-unstyled ml-auto text-right" style="color:black">
                        <li class="nav__list">Kotra Road Raigarh(CG) 496001</li>
                        <li class="nav__list">+91-9109060039</li>
                        <li class="nav__list">Maps & Direction</li>
                    </ul>
                </div>
    </nav>
    
    <nav class="navbar navbar-expand-lg navbar-dark nav__bar" style="background-color:#118DB4;">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link <%= path==='/' ? 'active' : ''%>" href="/"><b>Home</b> <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link <%= path==='/about' ? 'active' : ''%>" href="/about"><b>About</b></a>
                    <a class="nav-item nav-link <%= path==='/login' ? 'active' : ''%>" href="/login"><b>Login</b></a>
                </div>
              </div>
        </div>
    </nav>
</header>