<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/about.css">
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <section>
            <div class="parallax"
                style="min-height: 200px; color: aliceblue; background-image: url('/images/medical-clinic.jpg');">
                <div class="container py-4">
                    <h1 class="display-4">About Us</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its
                        parent.</p>
                </div>
            </div>
        </section>
        <section class="container mt-5">
            <div>
                <h2 class="head__ing text-center">Our Mission</h2>
                <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, sit. Quia ab nam
                    nostrum consequatur natus facere maxime optio, provident enim dicta eveniet quam blanditiis dolor,
                    dolores totam ducimus laudantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci
                    optio itaque eaque, esse quo suscipit nemo. Maiores officiis exercitationem sed, quae voluptas
                    deserunt accusantium! Minus quaerat assumenda deleniti sit corporis?</p>
            </div>
            <div class="mt-5">
                <h2 class="head__ing text-center">Our Approach</h2>
                <p class="pt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem vel voluptas
                    debitis dolor maxime ut. Tempore nostrum blanditiis animi? Assumenda in nostrum molestiae accusamus
                    est, doloremque iure cumque ratione magnam. Lorem ipsum, dolor sit amet consectetur adipisicing
                    elit. Quos sed quo, est cupiditate magnam vero sit adipisci quis suscipit assumenda accusantium
                    consequuntur, unde provident facere, temporibus nesciunt? Doloribus, voluptates saepe.</p>
            </div>
            <div class="my-5">
                <h2 class="head__ing text-center">Our History</h2>
                <p class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat deserunt hic animi
                    aliquam quis quibusdam optio harum architecto officiis repudiandae mollitia porro laudantium, atque
                    et dolorum blanditiis! Nobis, praesentium id. Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Blanditiis enim architecto fugiat quaerat officiis. Porro error voluptate earum ipsam placeat,
                    sunt tempora molestiae maiores consequuntur laborum architecto odio saepe ut.</p>
            </div>
        </section>
    </main>
    <%- include('includes/end.ejs') %>