<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
        <section class="container my-5">
            <div class="row">
                <div class="col-sm-4">
                    
                        <h5>Opening Hours</h5>
                        <ul class="list-unstyled">
                            <li><b>Mon-Fri</b> 11:00AM To 8:00PM</li>
                            <li><b>Sat</b> 12:00PM To 8:00PM</li>
                            <li><b>Sun</b> 12:00PM To 7:00PM</li>
                        </ul>
                </div>
                <div class="col-sm-6 offset-sm-2">

                </div>
            </div>
        </section>
    </main>
    <%- include('includes/end.ejs') %>