<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="/css/patientform.css">
</head>

<body>
<%- include('includes/navigation.ejs') %>
    <main>
        <h1>Patient Information</h1>
        <form class="patient-form" action="/admin/details" method="post">
            
        </form>
    </main>
<%- include('includes/end.ejs') %>