body {
/* background-color: #a8bcc0;     */
/* font-size: 1.2rem; */
color: grey;
}

.nav__list{
    font-size: 0.8rem;
}
.nav__bar{
    padding: 0 1rem;
}

.head__ing{
    font-size: 32px;
}

.parallax {
    background-image: url("http://www.dapco.es/sites/default/files/images/page/CLINIC.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
    /* color: aliceblue; */
  }

@media only screen and (max-width: 700px) {
    #head__nav{
        display: none;
    }
}
